@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .equip-items {
    @apply flex rounded-lg w-1/2 sm:w-1/4 md:w-1/3 gap-1 mt-5
  }

  .input-checkout {
    @apply px-3 py-4 border border-[#E8E8E8] rounded-md lg:w-[48%] w-full bg-[#CBA557] bg-opacity-10 font-normal text-[12px] text-[#676767]
  }

  .btn-5 {
    @apply py-3 px-12 my-[5%] bg-[#CBA557] rounded-[20px] text-lg text-white font-bold
  }


  .shadow-checkout {
    /* box-shadow: 0px 12px 32px 0px rgba(25, 25, 25, 0.02); */
    box-shadow: 0px 12px 32px 0px #1919191A;

  }

  .heading-book {
    font-weight: 500;
    font-size: 1.5rem;
    color: #000000;
  }

  .min-heading {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
  }

  .para-book {
    margin-top: 3%;
    font-weight: normal;
    font-size: 1.25rem;
    color: #000000;
    opacity: 0.5;
    line-height: 1.75;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #F5F5F5;
}

.hero-bg {
  background: url('../src/assets/Images/hero-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100svh + 6rem);
}

.fleet-bg {
  background: url('../src/assets/Images/our-fleet-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100svh;
}

.checkout-bg {
  background: url('../src/assets/Images/checkout-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100svh;
}

.boat-page-bg {
  background: url('../src/assets/Images/boat-page-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100svh;
}

.Excursions-bg {
  background: url('../src/assets/Images/Excursions-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100svh;
}

.Services-container {
  background: url('../src/assets/Images/Services-bg-boat.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
}

.Services-page-bg {
  background: url('../src/assets/Images/Services-bg-boat.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
}

.small-devices.show {
  transform: translateY(0);
}

.hamburger-main-menu {
  display: none;
}

@media screen and (max-width: 840px) {

  .small-devices {
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
    margin-top: 4rem;
    position: fixed;
    top: 0;
    bottom: 0;
    height: fit-content;
    width: 100%;
    /* background: white; */
    z-index: 1000;
    margin-left: 0;
    scroll-behavior: smooth;
    overflow-y: auto;
    max-height: 90vh;
    padding-bottom: 1rem;
  }

  .hamburger-main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto !important;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
  }
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.excursion-map .leaflet-container {
  width: 100%;
  height: 50vh;
  z-index: 0;
}